<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Chewy</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/open-iconic/font/css/open-iconic-bootstrap.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="sticky-top">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img width="155" src="~/img/chewy-logo-white.png" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (Context != null && Context.User.Identity.IsAuthenticated && Context.User.IsInRole(nameof(UserType.Admin)))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white font-weight-bold" asp-area="" asp-controller="Users" asp-action="Index">Users</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-white font-weight-bold" asp-area="" asp-controller="Products" asp-action="Index">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white font-weight-bold" asp-area="" asp-controller="Categories" asp-action="Index">Categories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white font-weight-bold" asp-area="" asp-controller="Branches" asp-action="Index">Branches</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white font-weight-bold" asp-area="" asp-controller="Orders" asp-action="Index">Orders</a>
                        </li>
                    </ul>
                    <form class="form-inline">
                        <div class="input-group mr-4">
                            <input class="form-control border-0" type="search" placeholder="Search" aria-label="Search">
                            <div class="input-group-append">
                                <button class="btn btn-light bg-white" type="button"><span class="oi oi-magnifying-glass"></span></button>
                            </div>
                        </div>
                    </form>
                    <div class="nav-item">
                        @{
                            if (Context != null && Context.User.Identity.IsAuthenticated)
                            {
                                <span class="mr-2">Hello <a class="text-white font-weight-bold" asp-controller="Users" asp-action="Details" asp-route-id="@Context.User.Claims.First().Value">@Context.User.Identity.Name</a></span>
                                <a class="text-white " asp-controller="Users" asp-action="Logout" title="Logout"><span class="oi oi-account-logout"></span></a>
                            }
                            else
                            {
                                <a class="text-white font-weight-bold" asp-controller="Users" asp-action="Login" title="Login"><span class="oi oi-account-login"></span></a>
                            }
                        }
                    </div>
                    <div class="nav-item cart-container">
                        <div class="dropdown">
                            <button class="cart-btn" type="button" data-toggle="dropdown">
                                <span class="oi oi-cart"></span>
                                <span id="cart-count" class="cart-counter"></span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="d-flex justify-content-between align-items-center mx-4">
                                    <span><b>Cart Subtotal:</b><span id="cart_total" class="price"></span></span>
                                    <a class="btn btn-primary" asp-controller="Orders" asp-action="create">Proceed to Checkout</a>
                                </div>
                                <div id="cart">
                                    <!-- Cart products here -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container" id="main-page">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Chewy - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            @if (Context != null && Context.User.Identity.IsAuthenticated && Context.User.IsInRole(nameof(UserType.Customer)))
            {
                <span>&nbsp;| &nbsp;</span><a asp-controller="Users" asp-action="RegisterSupplier" asp-route-id="@Context.User.Claims.First().Value">Become a supplier</a>
            }
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/cart.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
