@model pet_store.Models.Product

@{
    ViewData["Title"] = "Details";
}

<div>
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent">
                @if (Model.Category.Parent != null)
                {
                <li class="breadcrumb-item"><a asp-controller="Categories" asp-action="Details" asp-route-id="@(Model.Category.Parent.Id)">@Html.DisplayFor(model => model.Category.Parent.Name)</a></li>
                }
                <li class="breadcrumb-item"><a asp-controller="Categories" asp-action="Details" asp-route-id="@(Model.CategoryId)">@Html.DisplayFor(model => model.Category.Name)</a></li>
                <li class="breadcrumb-item active" aria-current="page">@Html.DisplayFor(model => model.Name)</li>
            </ol>
        </nav>
    </div>

    <div class="row mt-2 product-wrapper">
        <div class="col-sm image-wrapper">
            <img src="@Model.Image" />
        </div>
        <div class="col-sm">
            <div class="row">
                <div class="col product-title"><h2>@Html.DisplayFor(model => model.Name)</h2>&nbsp;<span>By @Html.DisplayFor(model => model.Company)</span></div>
            </div>
            <div class="row">
                <div class="col">Price:&nbsp;<span class="price">@Html.DisplayFor(model => model.Price)$</span></div>
                <div class="col"><button id="add_cart" class="btn btn-primary btn-lg">Add to cart</button></div>
            </div>
            <div class="row mt-3">
                <div class="col">@Html.DisplayFor(model => model.Description)</div>
            </div>
        </div>
    </div>
</div>
<div class="mt-2">
    @if (Context != null && Context.User.Identity.IsAuthenticated && Model.Supplier.ToString() == Context.User.Claims.First().Value)
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>@:&nbsp;|&nbsp;
    }
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script type="text/javascript">
        $(()=> {
            const product = {
                id: @Html.DisplayFor(model => model.Id),
                name: '@Html.DisplayFor(model => model.Name)',
                price: @Html.DisplayFor(model => model.Price),
                image: '@Html.DisplayFor(model => model.Image)'
            };
            $('#add_cart').click(() => {
                addToCart(product);
                populateCartDropdown();

                $('#add_cart').text('Added').removeClass('btn-primary').addClass('btn-success');
            });
        });
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
