@model IEnumerable<pet_store.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<div class="title">
    <div style="text-align:center">

        <canvas id="myCanvas" width="400" height="100"
                style="border:1px solid #FFFFFF;">
            Your browser does not support the canvas element.
        </canvas>
    </div>
</div>

@if (Context != null && Context.User.Identity.IsAuthenticated && Context.User.IsInRole(nameof(UserType.Supplier)))
{
<p>
    <a href="/Products/Create" class="btn btn-outline-secondary btn-sm" role="button">Add a product</a>
</p>
}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
    @foreach (var item in Model)
    {
        <div class="col mb-2">
            <a class="products-index-wrapper" asp-action="Details" asp-route-id="@item.Id">
                <div class="text-center image-wrapper">
                    <img src="@item.Image" />
                </div>
                <div class="name mt-2"><b>@Html.DisplayFor(modelItem => item.Company)</b> @Html.DisplayFor(modelItem => item.Name)</div>
                <div class="price mt-3">@Html.DisplayFor(modelItem => item.Price)$</div>
            </a>
        </div>
    }
</div>

@section Scripts {
    <script src="~/js/ProductCanvas.js"></script>
}
