@model IEnumerable<pet_store.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Search">
    <input class="form-control col-sm-6 m-1" name="searchString" id="inpSearch" placeholder="Search a product..."/>
    <div class="row">
        <select class="form-control col-sm-2 m-1" name="productCategory" id="inpCategory" asp-items="@new SelectList(Model.Select(x=>x.Category.Name).Distinct())">
            <option value="">By category...</option>
        </select>
        <select class="form-control col-sm-2 m-1" name="productCompany" id="inpCompany" asp-items="@new SelectList(Model.Select(x=>x.Company).Distinct())">
            <option value="">By company...</option>
        </select>
    </div>
    <button class="btnSearch btn btn-primary" type="button">Search</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @*<asp:detailsview EmptyDataText="No Results..."></asp:detailsview>*@
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)$
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/template" id="template">
    <tr>
        <td>
            ${name}
        </td>
        <td>
            ${company}
        </td>
        <td>
            ${price}
        </td>
        <td>
            ${category.name}
        </td>
        <td>
            <a href="/Products/Edit/${id}">Edit</a> |
            <a href="/Products/Details/${id}">Details</a> |
            <a href="/Products/Delete/${id}">Delete</a>
        </td>
    </tr>
</script>

@section Scripts
{
    <script src="~/js/search.js"></script>
}
