@model IEnumerable<pet_store.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<div class="title">
    <div style="text-align:center">

        <canvas id="myCanvas" width="400" height="100"
                style="border:1px solid #FFFFFF;">
            Your browser does not support the canvas element.
        </canvas>
    </div>
</div>

<h1>All Products</h1>

@if (Context != null && Context.User.Identity.IsAuthenticated && Context.User.IsInRole(nameof(UserType.Supplier)))
{
    <p>
        Supplier? <a asp-action="Create">Add a product</a>.
    </p>
}


<form id="searchForm" asp-action="Search">
    <input class="form-control col-sm-6 m-1" name="searchString" id="inpSearch" placeholder="Search a product..."/>
    <div class="row">
        <select class="form-control col-sm-2 m-1" name="productCategory" id="inpCategory" asp-items="@ViewBag.Categories">
            <option value="">By category...</option>
        </select>
        <select class="form-control col-sm-2 m-1" name="productCompany" id="inpCompany" asp-items="@ViewBag.Companies">
            <option value="">By company...</option>
        </select>
    </div>
    <button class="btnSearch btn btn-primary" id="btnSearch" type="button">Search</button>
</form>


<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
    @foreach (var item in Model)
    {
        <div class="col mb-2">
            <a class="products-index-wrapper" asp-action="Details" asp-route-id="@item.Id">
                <div class="text-center image-wrapper">
                    <img src="@item.Image" />
                </div>
                <div class="name mt-2"><b>@Html.DisplayFor(modelItem => item.Company)</b> @Html.DisplayFor(modelItem => item.Name)</div>
                <div class="price mt-3">@Html.DisplayFor(modelItem => item.Price)$</div>
            </a>
        </div>
    }
</div>


<script type="text/template" id="template">
    <div class="col">
        <a class="products-index-wrapper" href="/Products/Details/${id}">
        <div class="text-center image-wrapper">
            <img src="${image}" />
        </div>
        <div class="name mt-2"><b>${company}</b> ${name}</div>
        <div class="price mt-3">${price}$</div>
        </a>
    </div>
</script>

@section Scripts {
    <script src="~/js/ProductCanvas.js"></script>
    <script src="~/js/search.js"></script>
}