@model IEnumerable<pet_store.Models.Branch>
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Index";
}

<div class="title">
    <div style="text-align:center">

        <canvas id="myCanvas" width="400" height="100"
                style="border:1px solid #FFFFFF;">
            Your browser does not support the canvas element.
        </canvas>
    </div>
</div>

@if (Context.User.IsInRole(nameof(UserType.Admin)))
{
    <a href="/Branches/Create" class="btn btn-outline-secondary btn-sm mb-3" role="button">Add a Branch</a>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apartment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Street)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apartment)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @if (Context.User.IsInRole(nameof(UserType.Admin)) || Context.User.IsInRole(nameof(UserType.Supplier)))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>



<div class="container" style="margin:25px 0;">
    <div id='printoutPanel'></div>
    <div id='myMap' style='width: 100%; height: 500px;'></div>
    <script type='text/javascript'>
            function loadMapScenario() {
                var navigationBarMode = Microsoft.Maps.NavigationBarMode;
                var map = new Microsoft.Maps.Map(document.getElementById('myMap'), {
                    navigationBarMode: navigationBarMode.square,
                    supportedMapTypes: [Microsoft.Maps.MapTypeId.road, Microsoft.Maps.MapTypeId.aerial],
                    center: new Microsoft.Maps.Location(31.969875, 34.772766),
                    mapTypeId: Microsoft.Maps.MapTypeId.road,
                    zoom: 8,
                    credentials: "AoBO06W-vwZS4NkweHy5F2MTzIRgl7yag1J-lXuR8p_2Vid_otpTKhv55Q7Z6bsd",
                    showSearchBar: false,
                    disableScrollWheelZoom: false
                });

                var array = @Html.Raw(JsonConvert.SerializeObject(ViewBag.addresses));

               for(var i = 0; i < array.length; i++) {
                    searchInMap(array[i]);
                }

                function searchInMap(item) {
                    Microsoft.Maps.loadModule('Microsoft.Maps.Search', function () {
                        var searchManager = new Microsoft.Maps.Search.SearchManager(map);
                        var requestOptions = {
                            bounds: map.getBounds(),
                            where: item,
                            callback: function (answer, userData) {
                                var pushpin = new Microsoft.Maps.Pushpin(
                                    answer.results[0].location,
                                    { title: item });
                                map.entities.push(pushpin);
                            }
                        };
                        //Search in map
                        searchManager.geocode(requestOptions);
                    });
                }
            };
    </script>
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=AoBO06W-vwZS4NkweHy5F2MTzIRgl7yag1J-lXuR8p_2Vid_otpTKhv55Q7Z6bsd&callback=loadMapScenario' async defer></script>

</div>

@section Scripts {
    <script src="~/js/BranchCanvas.js"></script>
}